[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docker = "*"
pytest = "*"
pytest-json = "*"
pytest-pylint = "*"
typing-extensions = "*"
dataclasses = "*"
mypy = ">=0.900"
urllib3 = ">=1.24.2"
ecdsa = "*"
eth-hash = "*"
pycryptodome = "*"
pyrchain = "==0.3.13a0"
requests = "*"
importlib-metadata = "*"
cython = "*"
PyYAML = "*"

[dev-packages]
python-language-server = "*"
