[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docker = "*"
pytest = "*"
pytest-json = "*"
pytest-pylint = "*"
typing-extensions = "*"
dataclasses = "*"
mypy = ">=0.900"
urllib3 = ">=1.24.2"
ecdsa = "*"
eth-hash = "*"
pycryptodome = "*"
requests = "*"
importlib-metadata = "*"
cython = "*"
PyYAML = "*"
types-requests = "*"
pyf1r3fly = {git = "https://github.com/F1R3FLY-io/pyf1r3fly.git"}

[dev-packages]
python-language-server = "*"
pytest-xdist = "*"

[requires]
python_version = "3.10"
